asgiref==3.11.0
cffi==2.0.0
cloudinary==1.44.1
cryptography==46.0.5
dj-database-url==3.1.0
Django==6.0.1
django-allauth[socialaccount]==65.14.3
django-browser-reload==1.21.0
django-cloudinary-storage==0.3.0
django-tailwind==4.4.2
gunicorn==25.0.3
MarkupSafe==3.0.3
packaging==26.0
pillow==12.1.0
psycopg2-binary==2.9.11
pycparser==3.0
pytailwindcss==0.3.0
python-dotenv==1.0.0
python-http-client==3.3.7
sendgrid==6.12.5
sqlparse==0.5.5
tzdata==2025.3
Werkzeug==3.1.5
whitenoise==6.11.0
