{% extends 'base.html' %}
{% load static %}

{% block title %}
Booking Details - Daiko Travel Agency
{% endblock %}

{% block content %}
<section class="bg-linear-to-b from-blue-50 to-white py-12 lg:py-16">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">

    {% include "bookings/includes/details/progress_steps.html" %}

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

      <!-- LEFT -->
      <div class="lg:col-span-2 space-y-8">
        {% include "bookings/includes/details/page_header.html" %}
        {% include "bookings/includes/details/car_summury.html" %}
        {% include "bookings/includes/details/booking_info.html" %}
      </div>

      <!-- RIGHT -->
      <div class="lg:col-span-1">
        {% include "bookings/includes/details/order_summury.html" %}
      </div>

    </div>

    {% include "bookings/includes/details/confirm_buttons.html" %}

  </div>
</section>
{% endblock %}
