<!doctype html>
<html lang="en">
  {% include "dashboard/includes/head.html" %}
  <body class="bg-gray-50">
    <!-- Main Container -->
    <div class="flex min-h-screen">
      {% include "dashboard/includes/sidebar.html" %}

      <!-- Main Content Area -->
      <div class="flex-1 lg:ml-64">
        {% include "dashboard/includes/topbar.html" %}
         {% include "dashboard/includes/main.html" %} 
         {% include "dashboard/includes/footer.html" %}
      </div>
    </div>
    {% include "dashboard/includes/scripts.html" %}
  </body>
</html>
