{% load static tailwind_tags django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
  <style>
    nav img {
      width: 70px;
    }
  </style>
  <body class="leading-normal tracking-normal">
    {% block content %}{% endblock %} {% django_browser_reload_script %}
    <script
      src="https://kit.fontawesome.com/dbc3492b26.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
