{% load static tailwind_tags %}


<!doctype html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% load static tailwind_tags %} {% tailwind_css %}
  </head>
  <body class="leading-normal tracking-normal">
    {% block content %}{% endblock %}

    <script
      src="https://kit.fontawesome.com/dbc3492b26.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'home/js/achievements.js' %}"></script>
    <script src="{% static 'home/js/vehicleScroll.js' %}"></script>
    <script src="{% static 'home/js/password.js' %}"></script>
    <script src="{% static 'home/js/carModal.js' %}"></script>
    <script src="{% static 'home/js/bookingValidation.js' %}"></script>
    <script src="{% static 'home/js/cancelCar.js' %}"></script>
    <script src="{% static 'home/js/signup.js' %}"></script>
    <script src="{% static 'home/js/_passwordCheck.js' %}"></script>
    <script src="{% static 'home/js/liveClock.js' %}"></script>
  </body>
</html>
